<div class="jumbotron" style="background-image: url(https://drscdn.500px.org/photo/1579352/m%3D900/31357099baa3395400a6360c36b4f43d); background-size: 100% 100%;">
<h1>TripMe All Trips</h1>
</div>

<div class="container">
	<%@trips.each do |trip| %>

	<div class="list-group">
	  <a href="#" class="list-group-item active">
	    <h3>Trip Name:<%=trip.tripname %> <span class="label label-primary">&nbsp&nbsp&nbsp&nbsp&nbsp <%= trip.votes %> </span></h3>
	  </a>
	  <a href="/mytrips/<%=trip.id%>" class="list-group-item">Trip Destination:<%=trip.destination %> </a>
	    <a href="#" class="list-group-item">Comments</a>
	    <a href="#" class="list-group-item">
	    	<TABLE BORDER="0">
					<TR>
						<td><form action='<%= "/alltrips/#{trip.id}/vote"%>' method="post">
			 		 		<div align="right"><button type="submit" class="btn">Vote</button></div></form></td> 
					</TR>
				</TABLE></a>
			<a href="/create_trip/<%=trip.id %>"></a></h3>
				<hr/>
		</div>
	<%end%>
</div>
