<div class="jumbotron" style="background-image: url(http://www.searchingtoronto.com/pictures/plog-content/images/toronto-images/toronto-skyline/torontoskyline-panorama.jpg); background-size: 100% 100%;">
<h1>All Trips</h1>
</div>

<div class="container">
<%@trips.each do |trip| %>

	<div class="list-group">
	  <a href="#" class="list-group-item active">
	    <h3>Trip Name:<%=trip.tripname %> <span class="label label-primary">&nbsp&nbsp&nbsp&nbsp&nbsp <%= trip.votes %> </span></h3>
	  </a>
	  <a href="/alltrips/<%=trip.id%>" class="list-group-item">Trip Destination:<%=trip.destination %> </a>
	    <a href="#" class="list-group-item">
	    	<table border="0">
					<tr>
						<td><form action='<%= "/alltrips/#{trip.id}/vote"%>' method="post">
			 		 		<div align="right"><button type="submit" class="btn">Vote</button></div></form></td>
					</tr>
				</table></a>
			<a href="/create_trip/<%=trip.id %>"></a></h3>
				<hr/>
		</div>
	<%end%>
</div>
