<div class="jumbotron" style="background-image: url(http://www.letsgodigital.org/images/producten/3087/pictures/sony-panorama-photo.jpg); background-size: 100% 100%;">
<h1>All Trips</h1>
</div>

<div class="container">
<%@trips.each do |trip| %>

	<div class="list-group">
	  <a href="#" class="list-group-item active">
	  	<div class="text-left">
	    	Trip Name: <%= trip.tripname %> 
	    	<div class="text-right">Vote Count: <%= trip.votes %>
	    	</div>
	    </div>
	  </a>
	  <a href="/alltrips/<%=trip.id%>" class="list-group-item"><h4>Trip Destination: <%= trip.destination %> </h4></a>
	    <a href="#" class="list-group-item">
	    	<form action='<%= "/alltrips/#{trip.id}/vote"%>' method="post">
			 		<button type="submit" class="btn btn-primary">Vote</button></form></a>
			<a href="/create_trip/<%=trip.id %>"></a></h3>
				<hr/>
		</div>
	<%end%>
</div>
