

	<label>Trip Name:<%=@trip.tripname %></label>
	</br>
	<label>Trip Destination: <%=@trip.destination %></label>
	</br>
	<label>Trip Start Date<%=@trip.startdate %></label>
	</br>
	<label>Trip End Date<%=@trip.enddate %></label>
	</br>
	</br>

<h2><%= @user.name %>  Wants You to Check Out:</h2>
<% @comments.each do |comment| %>
	<ul style=list-style: none>
		<td><%=comment.url %></td>
		<td><%=comment.comment %></td>
<!-- 		<td><%=comment.user%></td> -->
	</ul> 
<% end %> 

<form method="post" action="<%="/mytrips/" + @trip.id.to_s + "/comments/new" %>">
	<h1>URL<textarea class="form-control" type="url" name="url" rows="3" cols="5"></textarea></h1>
	<h1>I Want to See<textarea class="form-control" name="comment" rows="3" cols="5"></textarea></h1>
	<button class="btn btn-default" type="submit">Post Comment</button>
</form>


   