<div class="jumbotron" style="background-image: url(http://orig06.deviantart.net/5713/f/2008/234/5/5/panorama_of_sydney_skyline_iii_by_iamsorry87.jpg); background-size: 100%;">
<h1>My Trips</h1>
</div>

<div class="list-group">
  <div class="list-group-item active">
    <h3><%= @trip.tripname %></h3>
    <hr/>
    <h4>Vote Count: <%= @trip.votes %></h4>
  </div>
  <div class="list-group-item">
  	Trip Destination:  <%=@trip.destination %>
  </div>
  <div class="list-group-item">
  	Trip Start Date:  <%=@trip.startdate %> 
  </div>
  <div class="list-group-item">
 		Trip End Date:   <%=@trip.enddate %>
 	</div>
  <div class="list-group-item">
  	<% @comments.each do |comment| %>
			<ul style=list-style: none>
				<%=current_user.name%> says:  
			 <td><%=comment.comment %></td>
			</ul> 
		<% end %>
  </div>
	<div class="list-group-item">
		<form method="post" action="<%="/mytrips/" + @trip.id.to_s + "/comments/new" %>">
			<textarea class="form-control" name="comment" rows="3" cols="5">I want to visit...</textarea>
			<br/>
			<button class="btn btn-primary" type="submit">Post Comment</button>
		</form>
 		<form action='<%= "/alltrips/#{@trip.id}/delete"%>' method="get">
			<div align="right">
				<button type="submit" class="btn btn-danger">Delete Trip</button>
			</div>
		</form>
	</div>
	<hr/>
</div>

<!-- 	<button class="btn btn-default reply-btn" type="submit">Reply</button> -->

	<form id="reply-form" method="post" action="<%="/mytrips/" + @trip.id.to_s + "/comments/reply" %>">
	<textarea class="form-control" type="hidden" name="parent_comment_id" rows="2" cols="5"></textarea>
	<button class="btn btn-default" onClick="onClickClose" type="submit">Submit</button>
	</form>


