<h1> This is where this list of a user's trips will show up </h1>

<%@user.trips.each do |trip| %>
<form action='<%= "/alltrips/#{trip.id}/vote"%>' method="post">
</form>
<div class="list-group">
  <a href="/mytrips/<%=trip.id%>" class="list-group-item active">
    <h3>Trip Name:<%=trip.tripname %> <span class="label label-primary">&nbsp&nbsp&nbsp&nbsp&nbsp Votes &nbsp <%= trip.votes %> </span></h3>
  </a>
  <a href="/mytrips/<%=trip.id%>" class="list-group-item">Trip Destination:<%=trip.destination %> </a>
    <a class="list-group-item">Comments::::</a>
    <a href="#" class="list-group-item">
    	<TABLE BORDER="0">
				<TR>
		 		 		<td><form action='<%= "/alltrips/#{trip.id}/delete"%>' method="get">
						<div align="right"><button type="submit" class="btn">Delete</button></div>
					</form></td>
				</TR>
			</TABLE></a>
		<a href="/create_trip/<%=trip.id %>"></a></h3>
			<hr/>
	</div>
<%end%> 
