<div class="jumbotron" style="background-image: url(http://www.fullhdpaper.com/wp-content/uploads/Panorama/beautiful-golden-gate-bridge-lighting-night-hd-wallpaper.jpg); background-size: 100%;">
	<h1>My Trips Created</h1>
</div>

<div class="container">
	<%@user.trips.each do |trip| %>
	
	<div class="list-group">
	  <a href="/mytrips/<%=trip.id%>" class="list-group-item active">
	    <div>
	    	<h3><%= trip.tripname %></h3>
	    </div>
	    <hr/>
	    <div>
	    	<h4>Vote Count: <%= trip.votes %></h4>
	    </div>
	  </a>
	  <div class="list-group-item">
	  <a href="/mytrips/<%=trip.id%>" class="list-group-item"><%=current_user.name %> goes to: <%= trip.destination %> </a>
	    <a class="list-group-item">Comments:</a>
	    <a href="#" class="list-group-item">
	    	<form class="form-inline" action="<%="/alltrips/#{trip.id}/add_user"%>" method="post">
	    	  <div class="form-group">
	    	    <p for="exampleInputName2">Add Friends to Trip:</p>
	    	    <input type="email" class="form-control" id="exampleInputName2" placeholder="Email">
	    	    <button type="submit" class="btn btn-primary">Send invitation</button>
	    	  </div>
	    	</form>
	    	<br/>
	    	<form class="text-right" action="<%= "/alltrips/#{trip.id}/delete"%>" method="get">
	    	  <div class="form-group">
	    	    <button type="submit" class="btn btn-danger">Delete Trip</button>
	    	  </div>
	    	</form>
	    </a>
	    <br/>
	<%end%>
</div>

